acoustics==0.2.4.post0
asgiref==3.5.1
cffi==1.15.0
cycler==0.11.0
Django==3.2.4
django-cors-headers==3.7.0
django-currentuser==0.5.3
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.1
fonttools==4.33.3
kiwisolver==1.4.2
matplotlib==3.5.2
numpy==1.22.3
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
psycopg2==2.9.3
pycparser==2.21
PyJWT==2.3.0
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
scipy==1.8.0
six==1.16.0
SoundFile==0.10.3.post1
sqlparse==0.4.2
tabulate==0.8.9
